<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
       <a href="{{url_for('index')}}">Página Inicial</a> | 
       <a href="{{url_for('cardapio')}}">Cardápio</a> | 
       <a href="#">Avaliações</a> | 
       <a href="#">Fale conosco</a> | 
       <a href="#">Login</a> 
    </nav>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    
</body>
</html>